
<header class="animate" id="header" style="margin-bottom:0px">
    <div class="container">
        <div class="header-inner">
            <nav class="secondary">
                <ul>
                    <li><a href="#user-area" data-toggle="collapse" aria-expanded="false" aria-controls="user-area" data-tab="#sign-in" data-transition-parent="#header">Sign In</a></li>
                    <li><a href="#user-area" class="promoted" data-toggle="collapse" aria-expanded="false" aria-controls="user-area" data-tab="#register" data-transition-parent="#header">Register</a></li>
                </ul>
            </nav>
            <!--end Secondary navigation-->
            <nav class="main">
                <div class="brand">
                    <a href="/">
                        <img src="~/img/logo.png" alt="brand">
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="#" class="has-child">Начало</a>
                        <ul>
                            <li><a href="index-listing.html">Listing</a></li>
                            <li><a href="index-map-fullscreen.html">Fullscreen Map</a></li>
                            <li><a href="index-map.html">Map with Listing</a></li>
                            <li><a href="index-search.html">Search</a></li>
                        </ul>
                    </li>
                    <li><a href="~/pages/about_e.html" data-expand-width="col-8" data-transition-parent=".content-loader" data-external="true">За нас</a></li>
                    <li><a href="~/pages/persons_e.html" data-expand-width="col-6" data-transition-parent=".content-loader" data-external="true">Агенти</a></li>
                    <li><a href="~/pages/faq_e.html" data-expand-width="col-6" data-transition-parent=".content-loader" data-external="true">FAQ</a></li>
                    <li><a href="~/pages/contact_e.html" data-expand-width="col-6" data-transition-parent=".content-loader" data-external="true">Контакти</a></li>
                </ul>
                <div class="toggle-nav">
                    <div class="dots">
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                    </div>
                </div>
            </nav>
            <!--end Main navigation-->
        </div>
        <!--end .header-inner-->
    </div>
    <!--end .container-->
    <div class="container">
        <div class="submit-container">
            <a href="#search-collapse" class="btn btn-default btn-sm show-filter" data-toggle="collapse" aria-expanded="false" aria-controls="search-collapse">Search Filter</a>
            <a href="~/pages/submit_e.html" class="submit-button" data-expand-width="col-8" data-transition-parent=".content-loader" data-external="true"><i><img src="~/img/plus.png" alt=""></i></a>
        </div>
    </div>
</header>