
@{
    ViewData["Title"] = "home";
}

<div class="page-content">
    @Html.Partial("_Search");

    @Html.Partial("_Map");

    @Html.Partial("_OffersListing");
</div>


<script async defer src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdiI-QB4yQBI7QpMA1phbgYSVQe4bVpYU&libraries=places&callback=initMap"
        async defer></script>