@model SearchViewModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<link href="~/fonts/font-awesome.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="~/css/bootstrap-select.min.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="~/css/jquery.nouislider.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">

<div id="page-wrapper">
    <div class="search-overlay idle">
        <div class="wrapper">
            <div class="inner animate move_from_bottom_short idle">
                <div class="logo">
                    <img src="~/img/logo.png">
                </div>
                <h2>Намери своят дом</h2>
                <form method="post">
                    <div class="form-group">
                        <select asp-for="RentOrSale" asp-items="Html.GetEnumSelectList<RentOrSaleEnum>()" name="RentOrSale" multiple title="Търси имот?" class="animate" data-transition-parent=".dropdown-menu"></select>
                    </div>
                    <div class="form-group">
                        <select asp-for="TypeProparty" asp-items="Html.GetEnumSelectList<TypePropertyEnum>()" name="TypeProparty" multiple title="Тип на имота?" class="animate" data-transition-parent=".dropdown-menu"></select>
                    </div>
                    <!--end .form-group-->
                    <div id="locationField">
                        <div class="form-group">
                            <div class="input-group location">
                                <input asp-for="Location" asp- type="text" onfocus="geolocate()" class="form-control" id="autocomplete" placeholder="Къде?" name="Location">
                                <span asp-validation-for="Location" class="input-group-btn">
                                    <button class="btn btn-default animate" type="button">
                                        <i class="fa fa-map-marker geolocation"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           title="Find my position"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-groupt">
                        <button type="submit" class="btn btn-primary">Търси</button>
                    </div>
                    <!--end .form-group-->
                </form>
                @if (!User.Identity.IsAuthenticated)
                {
                    
                }

                @await Html.PartialAsync("_LoginPartial")
            </div>
            <div class="circle">
                <div class="element"></div>
            </div>
        </div>
    </div>
    <div class="background opacity-50">
        <img src="~/img/688_fyhgughdetails_all_buildings.jpg">
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdiI-QB4yQBI7QpMA1phbgYSVQe4bVpYU&libraries=places&callback=initAutocomplete"
        async defer></script>

<script type="text/javascript" src="~/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="~/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="~/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="~/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/jquery.color-2.1.2.min.js"></script>
<script type="text/javascript" src="~/js/jquery.average-color.js"></script>
<script type="text/javascript" src="~/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="~/js/map.js"></script>
<script type="text/javascript" src="~/js/smoothscroll.js"></script>
<script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap-select.js"></script>
<script type="text/javascript" src="~/js/icheck.min.js"></script>
<script type="text/javascript" src="~/js/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="~/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="~/js/functions.js"></script>
<script type="text/javascript" src="~/js/custom.js"></script>