
<header class="animate" id="header" style="margin-bottom:0px">
    <div class="container">
        <div class="header-inner">
            <nav class="secondary">
                <ul>

                </ul>
            </nav>
            <!--end Secondary navigation-->
            <nav class="main">
                <div class="brand">
                    <a href="/">
                        <img src="~/img/logo.png" alt="brand">
                    </a>
                </div>
                <ul>
                    <li><a href="/">Начало</a></li>
                    <li><a href="/Home/About">За нас</a></li>
                    <li><a href="#">Агенти</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/Home/Contact">Контакти</a></li>
                    <ul>
                        <li><a href="/Account/Login" class="promoted">Влез</a></li>
                        <li><a href="/Account/Register" class="promoted">Register</a></li>
                    </ul>
                </ul>

                <div class="toggle-nav">
                    <div class="dots">
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                    </div>
                </div>
            </nav>
            <!--end Main navigation-->
        </div>
        <!--end .header-inner-->
    </div>
    <!--end .container-->
    <div class="container">
        <div class="submit-container">
            <a href="#search-collapse" class="btn btn-default btn-sm show-filter" data-toggle="collapse" aria-expanded="false" aria-controls="search-collapse">Search Filter</a>
            <a href="~/pages/submit_e.html" class="submit-button" data-expand-width="col-8" data-transition-parent=".content-loader" data-external="true"><i><img src="~/img/plus.png" alt=""></i></a>
        </div>
    </div>
</header>