<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstateWebSite</title>

    <environment include="Development">
        <link href="~/fonts/font-awesome.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:700,400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="~/css/bootstrap-select.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="~/css/jquery.nouislider.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/style.css" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderBody()
    <environment include="Development">
        <script type="text/javascript" src="~/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="~/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="~/js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="~/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.color-2.1.2.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.average-color.js"></script>
        <script type="text/javascript" src="~/js/masonry.pkgd.min.js"></script>
        @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt92AtJcaI0R-UQ74SMaj-Cqe7jCgoPTQ&callback=initMap"
                type="text/javascript"></script>*@
        @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"></script>*@
        <script type="text/javascript" src="~/js/smoothscroll.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap-select.js"></script>
        <script type="text/javascript" src="~/js/icheck.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.nouislider.all.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.inview.min.js"></script>
        <script type="text/javascript" src="~/js/functions.js"></script>
        <script type="text/javascript" src="~/js/custom.js"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
